<div class="pagination">
    <ul class="pagination-list">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %} ">
            <a class="page-link" href="
            {% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{% else %}#{% endif %}">Назад</a>
        </li>
        {% for page in page_obj.paginator.page_range %}
            {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                    <a class="page-link" href="?page={{page}}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %} ">
            <a class="page-link" href="
            {% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Следующая</a>
        </li>
    </ul>
</div>