{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>Магазин товаров</title>
</head>
<body>

{% include "includes/header.html" %}

<div class="container">
    <div class="sidebar">
        <h2>Категории товаров</h2>
        {% include "includes/categories.html" %}
    </div>

    <div class="main">
        <h2>Товары</h2>
        {% include "includes/product_cards.html" %}
    </div>
</div>

{% include "includes/pagination.html" %}

<footer>
    <p>MyCoffeeShop</p>
    <p>tel: +7 999 999 99 99</p>
    <p>telegram: @xxxxxxxy</p>
</footer>

</body>
</html>